<h1>Proyectos#index</h1>
<p>Find me in app/views/proyectos/index.html.erb</p>
<div id="Proyectos" class="container" ng-controller="proyectosController">
<p>Proyecto {{proyecto}}</p>
<a href="http://localhost:3000/proyectos_home?id=2" >Link</a>
</div>