<div style="margin:0 auto;width:70%">
<h3>Nuevo Proyecto</h3>
<p>
	Para crear un nuevo proyecto, complete los siguientes campos y luego presione el botón "Guardar". Para descartar la creación, solo presione "Atrás".
</p>
</div>

<%= render 'form' %>

